*{
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    color: white;
}
.appear{
    display:block;
}
.disappear{
    display: none;
}

.startpage{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.finalresult{
    padding: 30px;
    font-size: 20px;;
}
.rps-heading{
    display:flex;
    justify-content:center;
    margin: 40px 0 40px 0;
}
.rps-border-1, .rps-border-3{
    border: 2px solid rgb(240, 95, 95);
    height: 80px;
    width: 700px;
    border-radius:5px;
    background-color: transparent;
}


.rps-border-2{
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 1.3em;
    color: white;
    
}
.rps-border-3{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-left: 7px;
    margin-top:7px;
}

.newgame-heading{
    display:flex;
    justify-content:center;
    margin: 50px 0 60px 0;
}
.ng-border-1, .ng-border-3{
    border: 2px solid rgb(240, 95, 95);
    height: 50px;
    width: 200px;
    border-radius:5px;
    background-color: transparent;
}


.ng-border-2{
    font-weight: 100;
    font-size: 1em;
    color: white;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-sizing: border-box;
    padding-bottom: 9px;
    border-radius: 5px;;
}
.ng-border-3{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-left: 7px;
    margin-top:7px;
}
.ng-border-2:hover{
    background-color: rgb(240, 233, 233);
    color: black;
    padding:0;
transform: scale(1.01);
}

.ng-border-1:hover, .ng-border-3:hover{
transform: scale(1.01);
border-color: rgb(240, 228, 224);
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    margin: 40px 250px;
}

.rock-border-1, .rock-border-3, .paper-border-1, .paper-border-3,.scissors-border-1, .scissors-border-3{
    border: 2px solid rgb(240, 233, 233);
    height: 200px;
    width: 200px;
    border-radius:5px;
    background-color: transparent;
}

.rock-border-3, .paper-border-3, .scissors-border-3{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-left: 7px;
    margin-top:7px;
}
.rock-border-3:hover, .paper-border-3:hover, .scissors-border-3:hover, .rock-border-1:hover, .paper-border-1:hover, .scissors-border-1:hover{
    transform: scale(1.02);
    box-shadow: 1px 1px 5px 2px rgb(240, 228, 224);
}


.hand{
    color: white;
    height:100%;
    width:100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  rgb(240, 233, 233);
}

.hand:hover{
    cursor: pointer;
    color: black;
}
.icons{
    display:flex;
    justify-content: space-evenly;
    margin: 50px 200px 10px 200px;;
}
.material-icons.md-32{
    color: white;
    font-size: 50px;
    opacity: 0.9;
}

.versus, .score{
    display:flex;
    justify-content: space-evenly;
    margin: 10px 190px 10px 190px;
}

#result-1, #result-2, #p-score, #c-score{
    color:white;
    display: inline;
}


#winner{
    color:white;
    text-align: center;
}

@media (max-width: 1024px){
    .rps-heading{
    margin: 10vh 70px 5vh 70px;;
    }

    .rps-border-1, .rps-border-3{
    height: 10vh;
    width: 95vw;
    }

    .rps-border-2{
        font-size: 3.9vw;
    }

    .newgame-heading{
    margin: 3vh 0 3vh 0;
    }

    .ng-border-1, .ng-border-3{
    height: 4vh;
    width: 15vh;
    }

    .ng-border-2{
    font-weight: 100;
    font-size: 1.0rem;
    }

    .buttons{
    margin: 7vh 0px 100px 0px;
    }

    .rock-border-1, .rock-border-3, .paper-border-1, .paper-border-3,.scissors-border-1, .scissors-border-3{
    height: 250px;
    width: 250px;
    }

    .material-icons.md-32{
    font-size: 5.5vh;
    }

    .icons{
    margin: 6vh 1vh 0 1vh;;
    }

    .versus, .score{
        margin: 3vh 1vh 0 1vh;

    }
    #result-1, #result-2, #p-score, #c-score, .finalresult{
    font-size: 1.5vh;
    }
    #winner{
        font-size: 1vh;
    }

}


